.reg-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    
}
.register-box{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 5/9;
    display:flex;
/*    justify-content: flex-start;*/
    flex-direction: column;
    width:60%;

    border-radius:10px;
    padding:10px 12px;
    background-color:#ffffff;
 
}

.register-box h3{
    align-self: center;
    color:#211d7f;
}
.register-box  input[type="text"]
{
  display: block;
    margin-top:10px;
/*    height: 35%;*/
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    padding: 5px;
    width: 400px !important;
    min-height: 40px !important;
}
.register-box input[type="email"]{
   display: block;
    margin-top:10px;
/*    height: 35%;*/
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    padding: 5px;
    width: 400px !important;
    min-height: 40px !important;
    
}
.register-box input[type="password"]
{
    display: block;
    margin-top:10px;
/*    height: 35%;*/
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    padding: 5px;
    width: 400px !important;
    min-height: 40px !important;
}

.register-box #rg-button{
    margin-top: 20px;
    padding:10px 12px;
    width: 30%;
    border-radius: 5px;
    background-color:#211d7f;
    color:white;
    margin-left: 35%;
   
    
}
.register-box #rg-button:hover{
        cursor: pointer;
        background-color:#8c8cf0;
}
@media only screen and (max-width:600px)
{
    .register-box
    {
        width:100%;
    }
    .register-box input[type="email"]{
        height: 30px;
    }
    .register-box input[type="password"]
    {
        height:30px;
    }
    .register-box #rg-button
    {
        width:35%;
    }
}